body { 
  margin: 0px;
}

img {
  max-width: 100%; 
  width: 100%;
  object-fit: cover;
}

/* page titles */
.pagetitle_div {
  background-color: #6a8ea4;
  color: white;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagetitle_text {
  margin: auto;
  text-align: center;
  font-family: Georgia, serif;
  vertical-align: middle;
  font-size: 400%;
}

/* content */

.content_image {
  outline: 2px solid white;
  width: 25%;
  height: 200px;
  padding: 2.5%;
  margin: 2.5%;
}

.content_textbox {
  outline: 2px solid white;
  width: 55%;
  height: 200px;
  margin: 2.5%;
  padding: 2.5%;
}

.context_texttitle {
  padding: 0px;
  font-size: 40px;
  margin: 0px;
}

.content_text {
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

/* positioning */

.left {
  margin-right: none !important;
  padding-right: none !important;
  float: left !important;
}

.right {
  margin-left: none !important;
  padding-left: none !important;
  float: right !important;
}

/* navigation bar */

.topnav {
  background-color: #2C3B44;
  overflow: hidden;
  color: white;
  float: inline;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  opacity: 1;
  transition: 0.3s;
}

.topnav a.active {
  background-color: #6a8ea4;
  color: white;
}